<div class="c-dashboard">
  <div class="c-filters__container">
    <vue-component name="FiltersComponent" v-props-employees="homePageVm.employees"
      v-on-emit-filter="homePageVm.filtersEmployees" />
  </div>

  <employees-list employees-list="homePageVm.employees"></employees-list>

  <div ng-if="homePageVm.showLoadBtn()" class="c-dashboard__footer">
    <button class="c-button {{homePageVm.loading && 'loading'}}" ng-click="homePageVm.loadMoreHandler()">
      Load More

      <i ng-if="homePageVm.loading">⏳</i>
    </button>
  </div>

  <style>
    .loading {
      pointer-events: none;
      cursor: not-allowed;
    }
  </style>
</div>
